/* css reset*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    
}





/*Colors*/

html{
    /* Primary */
    --blue:hsl(246, 80%, 60%);
    --work: hsl(15, 100%, 70%);
    --play: hsl(195, 74%, 62%);
    --study: hsl(348, 100%, 68%);
    --exercise: hsl(145, 58%, 55%);
    --social: hsl(264, 64%, 52%);
    --self-care: hsl(43, 84%, 65%);
    --white: #fff;

    /* Neutral */
    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --desat-blue: hsl(235, 45%, 61%);
    --pale-blue:  hsl(236, 100%, 87%);

    
}

/* body */

body {
    background-color: var(--very-dark-blue);
    color: var(--white) ;
}

.period a {
    color:  var(--white);
}

/*tabs*/
.work .tab {
    background-color: var(--work);
}

.play .tab {
    background-color: var(--play);
}

.study .tab {
    background-color: var(--study);
}

.exercise .tab {
    background-color: var(--exercise);
}

.social .tab {
    background-color: var(--social);
}

.self-care .tab {
    background-color: var(--self-care);
}
/*cards*/

.card {
    background-color: var(--dark-blue);
}